// import
@import "reset";
@import "variables";
@import "breakpoint";
@import "burger-menu";
@import "grid";

// utils
html {
  @include at-breakpoint(md) {
    font-size: 14px;
  }
}
body {
  min-width: 300px;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  letter-spacing: .1rem;
}

// ad-block

.ad-block {
  --width: 970px;
  --height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--width);
  height: var(--height);
  text-decoration: none;
  margin: 0 auto;
  @include at-breakpoint(md) {
    --width: 728px;
    --height: 90px;
  }
  @include at-breakpoint(sm) {
    --width: 300px;
    --height: 250px;
    flex-direction: column;
  }
  .ad-img {
    width: calc(var(--height) / .51);
    height: var(--height);
    background: url(../img/1200_627_1.jpg) center/contain no-repeat;
    position: relative;
    &::before {
      content: "";
      width: 99%;
      height: var(--height);
      position: absolute;
      animation: shine 3s linear infinite;
      @keyframes shine {
        0% {
          background: rgba(0, 0, 0, .1);
        }
        90% {
          background: rgba(0, 0, 0, .1);
        }
        91% {
          background: linear-gradient(-45deg, rgba(0, 0, 0, .1), rgba(255, 255, 255, 1));
        }
        92% {
          background: linear-gradient(-45deg, rgba(0, 0, 0, .1) 60%, rgba(255, 255, 255, 1) 80%, rgba(0, 0, 0, .1) 100%);
        }
        93% {
          background: linear-gradient(-45deg, rgba(0, 0, 0, .1) 30%, rgba(255, 255, 255, 1) 60%, rgba(0, 0, 0, .1) 90%);
        }
        94% {
          background: linear-gradient(-45deg, rgba(0, 0, 0, .1) 10%, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, .1) 90%);
        }
        95% {
          background: linear-gradient(-45deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, .1));
        }
        96% {
          background: linear-gradient(-45deg, rgba(0, 0, 0, .1) 90%, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, .1) 10%);
        }
        97% {
          background: linear-gradient(-45deg, rgba(0, 0, 0, .1) 90%, rgba(255, 255, 255, 1) 60%, rgba(0, 0, 0, .1) 30%);
        }
        98% {
          background: linear-gradient(-45deg, rgba(0, 0, 0, .1) 100%, rgba(255, 255, 255, 1) 80%, rgba(0, 0, 0, .1) 60%);
        }
        99% {
          background: linear-gradient(-45deg, rgba(0, 0, 0, .1) 100%, rgba(255, 255, 255, 1) 90%, rgba(0, 0, 0, .1) 70%);
        }
        100% {
          background: linear-gradient(-45deg, rgba(0, 0, 0, .1) 100%, rgba(255, 255, 255, 1) 95%, rgba(0, 0, 0, .1) 85%);
        }
      }
    }
    @include at-breakpoint(sm) {
      width: var(--width);
    }
  }
}

.text {
  --title-color: black;
  --describe-color: gray;
  --title-font: 1.2rem;
  --describe-font: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(var(--width) / 2);
  height: var(--height);
  padding: 0 .5rem;
  @include at-breakpoint(md) {
    width: calc(var(--width) * .8);
  }
  @include at-breakpoint(sm) {
    --title-font: 1rem;
    --describe-font: .9rem;
    align-items: center;
    width: var(--width);
    height: calc(var(--height) / 2);
  }
  .title {
    font-size: var(--title-font);
    color: var(--title-color);
    font-weight: 800;
    margin: 0;
  }
  .describe {
    font-size: var(--describe-font);
    color: var(--describe-color);
  }
}